/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* reset ends here */

.dont-display-this {
    display: none;
}

.big-container {
    width: 70%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

header, 
.yellow-container, 
.blue-container, 
footer {
    width: 100%;
}

header {
    height: 17vh;
    margin-bottom: 3vh;
}

.logo {
    height: 11vh;
    padding-left: 5px;
}

nav {
    padding: 1.5vh 0;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
    color: #929292;
    text-transform: uppercase;
}

.active {
    background-color: black;
    color: white;
}

li:hover a {
	background-color: #929292;
    color: white;
}

.yellow-container {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position-y: center;
    height: 50vh;
    margin-bottom: 3vh;
    border-radius: 15px;
    display: block;
    position: relative;
}

.banner-overlay {
    height: 50vh;
    margin-bottom: 3vh;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    display: block;
}

.big-caption-banner {
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0;
    padding: 5%;
    font-weight: lighter;
    font-size: 1.3rem;
}

.small-caption-banner {
    font-size: 0.7rem;
    display: block;
}

.small-caption-leadership {
    font-size: 0.7rem;
    color: #929292;
}

.blue-container {
    height: 42vh;
    margin-bottom: 1vh;
}

footer {
    height: 5vh;
    width: 100%;
}

.top-article {
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}

.left-article,
.right-article,
.central-article {
    width: 20%;
    height: 63vh;
    margin-bottom: 4vh;
}

.clearfix {
    content:"";
    display: table;
    clear: both;
}

.lorem-20, .ipsum-60 {
    width: 100%;
    height: 20vh;
    border-radius: 15px;
}

.first-paragraph, .third-paragraph {
    background-image: url("../img/img-1.jpg");
    background-size: cover;
    background-position-y: center;
}

.third-paragraph {
    background-image: url("../img/img-3.jpg");
    background-position-x: center;
}

.ipsum-60 {
    background-image: url("../img/banner-2.jpg");
    background-size: cover;
    background-position-y: center;
}

.overlay-lorem-20, .overlay-ipsum-60 {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.lorem-heading, .ipsum-heading {
    font-size: smaller;
    font-weight: 400;
    padding: 2vh 0;
}

.left-article,
.central-article,
.right-article {
    float: left;
}

.blog-text {
    font-size: smaller;
    font-weight: 400;
    color:#929292;
}

.central-article {
    width: calc(100% - 40% - 2vw);
    margin-left: 1vw;
}

.right-article {
    margin-left: 1vw;
}

.signature-footer {
    width: 100%;
    margin: auto;
    text-align: center;
    display: inline-block;
    line-height: 5vh;
    font-size: smaller;
    font-weight: 400;
}

.heart {
    color: red;
}